ul,ol,dl{
    list-style: none;
}

html{
    overflow: hidden;
}

html,body{
    display: block;
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}

html body{
font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';
transition: all 1s cubic-bezier(0.340, -0.600, 0.515, 1.570);
}

section{
    /* width: 100%;
    height: 100%; */
}

#header{
    width: 100%;
    height: 100%;
}

.tt{
    display: none;
}

/* .ttt::after {
    content :"\0020";
    animation: pulse infinite;
    color:transparent;
    border-right:3px solid black;
    margin-left:4px;
    }

    @keyframes pulse {
    0% {
    border-right:3px solid  black;
    }
    50% {
    border-right:3px solid  transparent;
    }
    100% {
    border-right:3px solid  black;
    }
} */

.custom-shape-divider-bottom-1678639981 {
    position: absolute;
    top: 120px;
    transform: scaleX(-1);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1678639981 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1678639981 .shape-fill {
    fill: #FFFFFF;
}

.tt-holder{
    color: #bd85f9;
}

.demo{
    /* transform: rotate(355deg) translate(-4px, -296px) scale(1.1); */
    width: 100%;
    height: 500px;
    overflow: hidden;
    content: "";
}

.top_btn{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

@keyframes jump{
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

.top_btn:hover{
    animation: jump 1s ease-in-out 0s infinite forwards;
}

.top_btn span{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.p_img_box{
    width: 70%;
    height: 400px;
    background: url(../img/agency/portfolio/mockup2.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.p_img_box_h{
    width: 70%;
    height: 400px;
    background: url(../img/agency/portfolio/mockup3.png);
    background-size: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /* float: right; */
}

#about .content-row{
    /* margin-top: 120px; */
}

#cms > div,
#hard > div{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#cms > div > div,
#hard > div > div{
    width: 100%;
}

#hard h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hard ul{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hard ul li{
    /* width: 50%; */
}

#renewal a{
    background: linear-gradient(90deg, #fff 50%, #9836ff 50% );
    background-size: 200%;
    background-position: right;
    transition: background-position 0.6s;
}

#renewal a:hover,
#renewal a:focus
{
    background-position: left;
    color: #9836ff;
}

.screen{
    border-radius: 20px;
}

#renewal .owl-wrapper-outer{
    position: relative;
    /* top: 81px; */
}

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo .todo_img{
    width: 500px;
    height: 500px;
    background-color: #bd85f9;
}

/* 미디어 */

@media (width: 481px){
    .demo{
        position: absolute;
        top: 0;
        transform: inherit;
    }
    #header .brand-name{
        margin-top: 40px;
    }
}

