ul,ol,dl{
    list-style: none;
}

html{
    /* overflow: hidden; */
}

html,body{
    display: block;
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
    background: #333;
}

html body{
font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';
transition: all 1s cubic-bezier(0.340, -0.600, 0.515, 1.570);
}

section{
    /* width: 100%;
    height: 100%; */
}

/* @media (min-width: 1200px){
    section .container{
        width: calc(1170px - 110px);
    }
} */

#header{
    width: 100%;
    height: 100%;
}

.disN{
    display: none;
}

/* svg */

.custom-shape-divider-bottom-1678639981 {
    position: absolute;
    top: 0;
    transform: scaleX(-1) rotate(180deg);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1678639981 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1678639981 .shape-fill {
    fill: #2c2c2c;
}

/* 캔버스 */

.demo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo .brand-name{
    position: absolute;
    font-weight: 300;
}

/* 탑버튼 */

.top_btn{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

@keyframes jump{
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

.top_btn:hover{
    animation: jump 1s ease-in-out 0s infinite forwards;
}

.top_btn span{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

/* 이미지 */

@keyframes flow{
    0%{
        background-position-y: 0;
    }
    50%{
        background-position-y: 100%;
    }
    100%{
        background-position-y: 0;
    }
}

.img_box{
    height: 300px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.p_img_box{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(../img/agency/portfolio/cafe24.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.p_img_box:hover,
.p_img_box_h:hover
{
    /* height: 1000px; */
    animation: flow 10s 0.3s linear;
}

.p_img_box_h{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(../img/agency/portfolio/hard.png);
    background-size: cover;
    border-radius: 20px;

    /* float: right; */
}

.text_box{
    padding: 0 28px;
}

/* 소개컨텐츠 */

#about{
    color: #FFFFFF;
}

#about .content-row{
    /* margin-top: 120px; */
}

.photo{
    height: 400px;
}

.certificate{
    color: #FFFFFF;
}

.certificate th{
    width: 150px;
}

.certificate .history td{
    width: 300px;
}

.certificate td{
    width: 200px;
    padding: 6px 0;
}

/* cms,하드코딩 */

section a{
    font-family: "NanumSquare";
}

#cms > div,
#hard > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#cms > div > div,
#hard > div > div{
    width: 100%;
}

#cms h2 span:nth-of-type(2){
    font-size: 0.8em;
    display: block;
}

#cms h2 p:nth-of-type(1){
    margin: 10px 0 0;
}

/* 하드코딩 */

#hard h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hard h2 p:nth-of-type(2){
    margin: 0;
    display: none;
}
#hard h2 p> span{
    font-size: 0.8em;
    animation: none;
}

#hard ul{
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hard ul li{
    /* width: 50%; */
}

/* 리뉴얼 */

@keyframes flowBtn {
    0%{
        background-position: -100%;
        background-size: 200%;
    }
    60%{
        background-position: 0%;
        background-size: 100%;
    }
    /* 80%{
        background-position: 80px;
        background-size: 200%;
    } */
    100%{
        background-position: 0%;
        background-size: 200%;
    }
}

#renewal a{
    /* background: linear-gradient(90deg, #fff 50%, #9836ff 50% );
    background-size: 200%;
    background-position: right;
    transition: background-position 0.6s; */
}

#renewal a:hover,
#renewal a:focus
{
    animation: flowBtn 2s linear;
    /* background-position: right; */
    color: #fff;
}

.renewal_img:hover a{
    /* transform: translate(-50%,-50%); */
}

.renewal_img:hover img{
    opacity: 0.8;
}

.renewal_img img{
    transition: 0.36s ease-in;
}

.renew a{
    position: absolute;
    bottom: 10%;
    left: calc(50% - 70px);
    overflow: hidden;
    transition: 0.3s;
}

.screen{
    border-radius: 20px;
}

#renewal .owl-wrapper-outer{
    position: relative;
    /* top: 81px; */
}

#renewal .owl-buttons{
    position: absolute;
    top: 23px;
    right: 0;
    display: flex;
    justify-content: space-between;
}

#renewal .owl-buttons .owl-prev,
#renewal .owl-buttons .owl-next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #9836ff;
    font-size: 20px;
    transition: 0.43s ease-in-out;
}

#renewal .owl-buttons .owl-prev i,
#renewal .owl-buttons .owl-next i{
    transition: 0.23s linear;
}

#renewal .owl-buttons .owl-next:hover i,
#renewal .owl-buttons .owl-next:focus i
{
    transform: scale(1.2) translateX(5px);
}
#renewal .owl-buttons .owl-prev:hover i{
    transform: scale(1.2) translateX(-5px);
}


.item.renew{
    margin: 30px 0 0;
}
.before_wrap{
    position: relative;
}

#before_img1:checked + label,
#before_img2:checked + label,
#before_img3:checked + label{
    background-color: var(--color);
    box-shadow: 0px 0px 7px 0px currentColor;
}

#before_img1:checked + label:hover,
#before_img2:checked + label:hover,
#before_img3:checked + label:hover{
    box-shadow: 0px 0px 7px 1px #fafad2;
}

#before_img1:checked ~ .before,
#before_img2:checked ~ .before,
#before_img3:checked ~ .before{
    height: 200px;

}

.b_label{
    background-color: #FFFFFF;
    color: #2c2c2c;
    cursor: pointer;
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 10px 10px 0 0;
    transition: 0.46s ease-out;

}

.before,.before2,.before3{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.34s ease;
    background-color: bisque;
    background-size: cover;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
}

.before{
    background: url(../img/agency/portfolio/calpis_b.png) no-repeat;
    background-size: cover;
}

.before::after{
    content: "";
    display: block;
    border-radius: 10px 10px 0 0;


}

.renew h4{
    font-size: 4rem;
}

.renew h4 em{
    font-size: 2em;
}

/* 투두 */

#jas{
    color: #FFFFFF;
}

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 500px; */
    height: 500px;
    overflow: hidden;
}

.todo .todo_img{
    width: 100%;
    height: 100%;
    background-color: #bd85f9;
    background: url(../img/agency/portfolio/todo.png);
    background-size: 1280px;
    background-position: center -67px;
}

.todo a{
    margin: 30px 0 0;
}

.renew{
    position: relative;
}

.btn_box{
    position: relative;
    z-index: 10;
    height: 100px;

}


/* 네비바 */

.nav{
    font-family: "NanumSquareLight";
}
/* 네비바 픽스 */

.navbar-left{
    width: 110px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.navbar-left .container{
    width: 100%;
}

.navbar-left .navbar-header{
    display: none;
}

.navbar-left .navbar-collapse{
    width: 100px;
}

@media (max-width:768px) {
    .navbar-left{
        width: 100%;
        height: 60px;
        flex: none;
    }
    
    .navbar-left .container{
        width: auto;
    }
    
    .navbar-left .navbar-header{
        display: block;
    }
    
    .navbar-left .navbar-collapse{
        width: auto;
    }
}

/* 미디어 */

@media (width: 481px){
    .demo{
        position: absolute;
        top: 0;
        transform: inherit;
    }
    #header .brand-name{
        margin-top: 40px;
    }
}



