ul,ol,dl{
    list-style: none;
}

*{
    /* cursor: none; */
    /* overflow: hidden; */
}

.container_lg{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@keyframes flow_text {
    100%{
        transform: translateX(100%);
    }
}

.text_b{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 60px;
    opacity: 0.6;
    font-style: italic;
    /* animation: flow_text 10s 0s alternate infinite; */
}

.container_lg h2{
    font-size: 70px;
}

a,button,label{
    cursor: none;
}

html,body{
    display: block;
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
    background: #333;
    overflow: hidden;
}

.dot_top,
.dot,
.dot_bottom,
#hard::before,
#hard::after{
    content: "";
    width: 300px;
    height: 300px;
    display: block;
    background: linear-gradient(90deg, #fff 50%, var(--color) 50%);
    background-size: 200%;
    border-radius: 50%;
    /* background: url(../img/agency/backgrounds/SVG/Asset\ 1.svg) no-repeat ; */
    background-position: right;
    position: absolute;
    transition: 0.4s linear;
}

#cms .dot_top:hover{
    /* background-position: left; */
    /* transform: translateX(-300px); */
}


.dot{
    top: -150px;
    right: 60px;
    z-index: 1;
    animation: swingDot 3s 0s infinite alternate;
}
@keyframes swingDot {
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}

#about .dot::before{
    --num: "01"
}

#cms .dot::before{
    --num: "02";
}

#hard .dot::before{
    --num: "03";
}

#renewal .dot::before{
    --num: "04"
}

#jas .dot::before{
    --num: "05"
}




.dot::before{
    position: absolute;
    font-size: 7rem;
    display: block;
    content: var(--num);
    /* background: url(../img/agency/cms2.svg) no-repeat bottom; */
    /* background-size: cover; */
    width: 200px;
    height: 70px;
    bottom: 0;
    left: calc(50% - 100px);
}


#cms::before:hover{
    background-position: right;
}

.dot_top{
    top: -70px;
    left: -65px;
    animation: spin 10s 0s infinite linear;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

.dot_top::before{
    content: "";
    display: block;
    background: url(../img/agency/portfolio/project.png) no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
}

.dot_bottom::before{
    content: "";
    display: block;
    background: url(../img/agency/Myname.svg) no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;
    margin: 78px 50px;
}

.dot_bottom{
    bottom: -150px;
    left: 200px;
}

#cms .dot_bottom:hover{
    animation: swing 0.3s 0s linear;
}

html body{
font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';
transition: all 1s cubic-bezier(0.340, -0.600, 0.515, 1.570);
}



section{
    /* width: 100%;
    height: 100%; */
}

section .container .left{
    position: relative;
    left: 100px;
}

/* @media (min-width: 1200px){
    section .container{
        width: calc(1170px - 110px);
    }
} */

#header{
    width: 100%;
    height: 100%;
}

.disN{
    display: none;
}

/* svg */

.custom-shape-divider-bottom-1678639981 {
    position: absolute;
    top: 0;
    transform: scaleX(-1) rotate(180deg);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1678639981 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1678639981 .shape-fill {
    fill: #2c2c2c;
}

/* 캔버스 */

.demo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo .brand-name{
    position: absolute;
    font-size: 100px;
    /* font-weight: 300; */
}

/* 탑버튼 */

.top_btn{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    transition: 0.3s;
    
}
.heart {
    /* Modify size here: */
    --size: 50px;
  
    position: relative;
    width: var(--size);
    height: calc(var(--size) * 0.3);
  }
  
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: calc(var(--size) * 0.55);
    top: 0;
    width: calc(var(--size) * 0.55);
    height: calc(var(--size) * 0.85);
    background: #ff8b8b;
    border-radius: calc(var(--size) * 0.55) calc(var(--size) * 0.55) 0 0;
    transform: rotate(-50deg);
    transform-origin: 0 100%;
  }
  
  .heart:after {
    left: 0;
    transform: rotate(50deg);
    transform-origin: 100% 100%;
  }

@keyframes shrink{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.2);
    }
}

.top_btn:hover{
    animation: shrink 1.2s ease-in-out 0s infinite forwards alternate;
}

.top_btn span{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

/* 이미지 */

@keyframes flow{
    0%{
        background-position-y: 0;
    }
    50%{
        background-position-y: 100%;
    }
    100%{
        background-position-y: 0;
    }
}

.img_box{
    height: 300px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.p_img_box{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(../img/agency/portfolio/cafe24.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 2;
}

.p_img_box:hover,
.p_img_box_h:hover
{
    /* height: 1000px; */
    animation: flow 10s 0.3s linear;
}

.p_img_box_h{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(../img/agency/portfolio/hard.png);
    background-size: cover;
    border-radius: 20px;

    /* float: right; */
}

.text_box{
    padding: 0 28px;
}

/* 소개컨텐츠 */

#about{
    color: #FFFFFF;
}

#about .content-row{
    /* margin-top: 120px; */
}

.photo{
    height: 400px;
    margin: 80px 0 0;
}

.photo div{
    height: 300px;
    background-color: #ccc;
    margin: 20px 0 0;
}

.about_me{
    position: relative;
    /* width: 300px; */
}

.about_me li{
    width: 33.33%;
}

.about_me li input:checked +label{
    color: var(--color);
    border-bottom: var(--color);
}

.about_me li input:checked +label:after{
    max-width: 100px;
    border-bottom: 2px solid var(--color);
}

.about_me li input:checked ~ .about_depth{
    z-index: 10;
}

.about_me li label{
    cursor: pointer;
}

.about_me li label::after{
    content: "";
    display: block;
    max-width: 0;
    height: 2px;
    margin: 0 auto;
    transition: 0.36s ease-in-out;

}

.about_depth{
    position: absolute;
    height: 400px;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #222;
}

.certificate{
    color: #FFFFFF;
    
}
.certificate table{
    margin: 70px auto;
}

.certificate th{
    width: 150px;
    display: none;
}

.certificate .history td{
    /* width: 300px; */
}

.certificate td{
    width: 200px;
    padding: 6px 0;
}

.certificate td i{
    position: absolute;
    left: 52px;
    margin: 5px 0;
}


/* cms,하드코딩 */

section a{
    font-family: "NanumSquare";
}

#cms > div,
#hard > div{

}

#cms > div > div,
#hard > div > div{
    width: 100%;
}

#cms h2 span:nth-of-type(2){
    font-size: 0.8em;
    display: block;
}

#cms h2 p:nth-of-type(1){
    margin: 10px 0 0;
}

/* 하드코딩 */

#hard h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hard h2 p:nth-of-type(2){
    margin: 0;
    display: none;
}
#hard h2 p> span{
    font-size: 0.8em;
    animation: none;
}

#hard ul{
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hard ul li{
    /* width: 50%; */
}

/* 리뉴얼 */

@keyframes flowBtn {
    0%{
        background-position: -100%;
        background-size: 200%;
    }
    60%{
        background-position: 0%;
        background-size: 100%;
    }
    /* 80%{
        background-position: 80px;
        background-size: 200%;
    } */
    100%{
        background-position: 0%;
        background-size: 200%;
    }
}

.item{
    overflow: hidden;
}

#renewal a{
    /* background: linear-gradient(90deg, #fff 50%, #9836ff 50% );
    background-size: 200%;
    background-position: right;
    transition: background-position 0.6s; */
}

#renewal >div >div{
    position: relative;
    left: 100px;
}

#renewal a:hover,
#renewal a:focus
{
    /* animation: flowBtn 2s linear; */
    background-position: right;
    color: #9836ff;
}

.renewal_img
{
    /* overflow: hidden; */
}

.re_hidden{
    /* overflow: hidden; */
    /* background: url(../img/agency/portfolio/hershey_after.png);
    background-size: cover; */
}

.img2 img{
    object-fit: cover;
    /* object-position: 10px; */
}

.renewal_img img:hover{
    /* transform: scale(1.1); */
    /* opacity: 0.8; */
    filter: grayscale(20);
    object-position: right;
    /* transform: translateX(10px); */
}

.renewal_img img{
    transition: 0.36s ease-in;
    height: 450px;
    object-fit: cover;
    object-position: left;
}

.renew a{
    /* position: absolute; */
    /* bottom: 10%; */
    left: calc(50% - 70px);
    overflow: hidden;
    transition: 0.3s;
    margin: 30px 0 ;
}

.renew a:hover{
    -webkit-box-reflect:inherit
}

.screen{
    border-radius: 20px;
}

#renewal .owl-wrapper-outer{
    position: relative;
    /* top: 81px; */
}

#renewal .owl-buttons{
    position: absolute;
    top: 23px;
    right: 0;
    display: flex;
    justify-content: space-between;
}

#renewal .owl-buttons .owl-prev,
#renewal .owl-buttons .owl-next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #9836ff;
    font-size: 20px;
    transition: 0.43s ease-in-out;
}

#renewal .owl-buttons .owl-prev i,
#renewal .owl-buttons .owl-next i{
    transition: 0.23s linear;
}

#renewal .owl-buttons .owl-next:hover i,
#renewal .owl-buttons .owl-next:focus i
{
    transform: scale(1.2) translateX(5px);
}
#renewal .owl-buttons .owl-prev:hover i{
    transform: scale(1.2) translateX(-5px);
}

#renewal .owl-theme .owl-controls .owl-page span{
    /* background: #bd85f9; */
    transition: 0.3s linear;
    --size: 12px;
  
    position: relative;
    width: var(--size);
    height: calc(var(--size) * 0.3);
}

#renewal .owl-theme .owl-controls .owl-page span:before,
#renewal .owl-theme .owl-controls .owl-page span:after {
  position: absolute;
  content: "";
  left: calc(var(--size) * 0.55);
  top: 0;
  width: calc(var(--size) * 0.55);
  height: calc(var(--size) * 0.85);
  background: #bd85f9;
  border-radius: calc(var(--size) * 0.55) calc(var(--size) * 0.55) 0 0;
  transform: rotate(-50deg);
  transform-origin: 0 100%;
}

#renewal .owl-theme .owl-controls .owl-page span:after {
  left: 0;
  transform: rotate(50deg);
  transform-origin: 100% 100%;
}


.item.renew{
    margin: 30px 0 0;
}
.before_wrap{
    position: relative;
}

#before_img1:checked + label,
#before_img2:checked + label,
#before_img3:checked + label{
    background-color: var(--color);
    box-shadow: 0px 0px 7px 0px currentColor;
}

#before_img1:checked + label:hover,
#before_img2:checked + label:hover,
#before_img3:checked + label:hover{
    box-shadow: 0px 0px 7px 1px #fafad2;
}

#before_img1:checked ~ .before,
#before_img2:checked ~ .before,
#before_img3:checked ~ .before{
    height: 200px;

}

.b_label{
    background-color: #FFFFFF;
    color: #2c2c2c;
    cursor: pointer;
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 10px 10px 0 0;
    transition: 0.46s ease-out;

}

.before,.before2,.before3{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.34s ease;
    background-color: bisque;
    background-size: cover;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    transition: 0.42s ease-in-out;
}

.before{
    background: url(../img/agency/portfolio/calpis_b.png) no-repeat;
    background-size: cover;
}

.before2{
    background: url(../img/agency/portfolio/hursh_b.png) no-repeat;
    background-size: cover;
}

.before3{
    background: url(../img/agency/portfolio/monblanc_b1.png) no-repeat;
    background-size: 423px;
}

.before::after{
    content: "";
    display: block;
    border-radius: 10px 10px 0 0;
}

.before:hover{
    opacity: 0.8;
}

.renew h4{
    font-size: 4rem;
}

.renew h4 em::after{
    content: "";
    position: absolute;
    top: 19px;
    
    /* right: calc(45% - 4px); */
    display: block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    animation: shrink 1s 0.5s infinite alternate;
}



/* .re_right2 h4:after{
    right: 110px;
}

.re_right3 h4:after{
    right: 70px;
} */

.renew h4 em{
    font-size: 2em;
    position: relative;
}

/* 투두 */

#jas{
    color: #FFFFFF;
}

#jas .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.todo .todo_img{
    width: 100%;
    height: 100%;
    background-color: #bd85f9;
    background: url(../img/agency/portfolio/todo.png);
    background-size: 1280px;
    background-position: center -67px;
    transition: 0.3s;
}

.todo .todo_img:hover{
    background-size: 120%;
}

#jas a{
    margin: 30px 0 0;
}

.renew{
    position: relative;
}

.btn_box{
    position: relative;
    z-index: 10;
    height: 100px;

}


/* 네비바 */

.nav{
    font-family: "NanumSquareLight";
}
/* 네비바 픽스 */

.navbar-left{
    width: 110px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.navbar-left .container{
    width: 100%;
}

.navbar-left .navbar-header{
    display: none;
}

.navbar-left .navbar-collapse{
    width: 100px;
}

@media (max-width:768px) {
    .navbar-left{
        width: 100%;
        height: 60px;
        flex: none;
    }
    
    .navbar-left .container{
        width: auto;
    }
    
    .navbar-left .navbar-header{
        display: block;
    }
    
    .navbar-left .navbar-collapse{
        width: auto;
    }
}

/* 미디어 */

@media (width: 481px){
    .demo{
        position: absolute;
        top: 0;
        transform: inherit;
    }
    #header .brand-name{
        margin-top: 40px;
    }
}



