/*
 * Animation module with all animation code
 */
.anim-text-flow,
.anim-text-flow-hover:hover,
.navbar-inverse {
    /*
    * Animation variables
    */
    $animationSteps: 20;
    $animationDuration: 50;
    $animationElement: span;
    $animationElementsCount: 100;
    $delayBetweenLetters: 0.2;

    /*
    * Elements settings
    */
    #{$animationElement} {
        animation-name: anim-text-flow-keys;
        animation-duration: #{$animationDuration}s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }

    /*
    * Keyframe loop
    */
    @keyframes anim-text-flow-keys {
        @for $i from 0 through $animationSteps {
       #{percentage($i * (1 / $animationSteps))} {
            color: hsla(random(365), 60, 60, 1);
        }
        }
    }

    @keyframes anim-text-flow-keys1 {
        @for $i from 0 through $animationSteps {
       #{percentage($i * (1 / $animationSteps))} {
            background-color: hsla(random(365), 60, 60, 1);
        }
        }
    }

    /*
    * Element animation delay loop
    */
   $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

    @for $i from 1 through $animationElementsCount {
        #{$animationElement}:nth-of-type(#{$i}) {
       animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        }
    }
}


.top_btn,
.top_btn:hover{
    /*
    * Animation variables
    */
    $animationSteps: 20;
    $animationDuration: 50;
    $animationElement: ":before",":after";
    $animationElementsCount: 100;
    $delayBetweenLetters: 0.2;

    /*
    * Elements settings
    */
    #{$animationElement} {
        animation-name: anim-text-flow-keys1;
        animation-duration: #{$animationDuration}s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }

    /*
    * Keyframe loop
    */

    @keyframes anim-text-flow-keys1 {
        @for $i from 0 through $animationSteps {
       #{percentage($i * (1 / $animationSteps))} {
            background-color: hsla(random(365), 60, 60, 1);
        }
        }
    }

    /*
    * Element animation delay loop
    */
   $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

    @for $i from 1 through $animationElementsCount {
        #{$animationElement}:nth-of-type(#{$i}) {
       animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        }
    }
}


// 그래프 애니메이션

//Setup


@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
    @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
    }
}

$baseFontSize: 16px;
$baseLineHeight: 1;

$chartGap: 10px;
$chartCount: 2;
$chartOneCount: 11;
$chartTwoCount: 2;
$chartThreeCount: 4;
$totalChartCount: $chartOneCount + $chartTwoCount + $chartThreeCount;

$titleGap: 10px;
$titleHeight: $baseFontSize * $baseLineHeight + $titleGap;

$chartBarHeight: 30px;
$chartBarGap: 10px;


//Demo
.skills {
    // width: 80%;
    // max-width: 1000px;
    // height: 500px;
    // height: $totalChartCount * ($chartBarHeight + $chartBarGap) + ($chartCount * ($chartGap + $titleHeight));
    margin: auto;
    position: relative;
}

.charts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 30px 0 0;
}

.chart {
    &:not(:first-child) {
    margin-top: $chartGap;
    }
}

.chart__title {
    display: block;
    margin: 0 10px 10px;
    // font-weight: bold;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
    animation-delay: 1s;

    .chart--dev & {
        // animation-delay: 1s;
    }

    .chart--design & {
    // animation-delay: 1.8s;
    }
}

.chart--horiz {
    overflow: hidden;
}

.chart__bar {
    $border-rad: 4px;
    height: $chartBarHeight;
    margin-bottom: $chartBarGap;

    background: linear-gradient(to left, #9060eb, #3cd3ad);
    border-top-right-radius: $border-rad;
    border-bottom-right-radius: $border-rad;
    opacity: 0;

    // animation: 1s anim-lightspeed-in ease forwards;

    .chart--dev & {
    @include stagger-anim-delay($chartOneCount, 0.1s, 0.2s);
    }

    .chart--design & {
    @include stagger-anim-delay($chartThreeCount, 1s, 0.2s);
    }
}

.chart__label {
    padding-left: 10px;
    line-height: 30px;
    color: white;
}

//Keyframes
@keyframes anim-lightspeed-in {
    0% {
    transform: translateX(-200%);
    opacity: 1;
    }
    100% {
    transform: translateX(0);
    opacity: 1;
    }
}

.anim-lightspeed-in{
    animation: 1s anim-lightspeed-in ease forwards;
}

// 타이틀 텍스트 타이핑 애니메이션
@keyframes typing {
    from { width: 0; 
    }
    to   { width: 100%; 
    }
}

@keyframes blink-start {
    from, to { border-color: #ae274f; 
    }
    50% { border-color: transparent; 
    }
}

@keyframes blink-end {
    from, to { border-color: transparent; 
    }
    50% { border-color: transparent; 
    }
}

// 

.tt{
    border-right: 3px solid #27ae60;
    overflow: hidden;
    position: relative;
    display: block;
    animation-name:blink-start, typing, blink-end;
    animation-duration:1s, 1s, 1s;
    animation-timing-function:linear, steps(13, end), linear;
    animation-iteration-count:1,1,infinite;
    animation-delay:0s, 1s, 2s;
    animation-fill-mode:forwards;
    font-size: 80px;
    span { 
        display: block;
        width: 600px; 
    }
}
@media (max-width: 768px){
    .tt{
        span{
            width: 100%;
        }
    }
}